<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <link rel="icon" href="/img/weather.png">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Weather</title>
    <link rel="stylesheet" href="/css/styles.css">
</head>
<body>
    <div class="main-content">
    {{>header}}
    <p>메인 페이지</p>

    <form>
        <input type="text" placeholder="Location">
        <button>Search</button>
    </form>

    <p id="message-1"></p>
    <p id="message-2"></p>
    
    </div>
    {{>footer}}
    <script src="/js/app.js"></script>
</body>
</html>